.App {
  text-align: center;
}

a.header-city {
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: oblique;
  font-weight: bold;
  text-decoration: underline;
}

a.footer-city  {
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
}

.justify-content-md-center {
  padding: 15px;
}

#moveLonAndLat {
  margin-left: 80px;
}

.button {
  margin-top: 52px;
}

.form-label {
  font-size: 30px;
}

.forecast{
  margin-left: 10px;
}

.movie-card {
  text-align: justify;
}
.movieTitle{
  text-align: center;
}