.App {
  text-align: center;
}

a.header-city {
  font-size: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.footer-city  {
  font-size: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.justify-content-md-center {
  padding: 15px;
}

.button {
  margin-top: 52px;
}

.form-label {
  font-size: 30px;
}